
body{
    font-family: 'Montserrat', sans-serif;
}

/* main styles*/
.main{
    display: flex;
    flex-direction: row-reverse;
    background-color: #f5f7fa;
width: 1200px;
margin: 0 auto;
}

.main-content {
background-color: #fff;
}

/* about styles*/
.about{
    background-color: aqua;
}
/* projects styles */
.projects{
    background-color: aquamarine;
margin-top: 100px;
margin-bottom: 300px;
margin-left: 60px;
margin-right: 90px;

/* margin: 100xp 90xp 300xp 60xp ;
margin: 50xp;
margin: 100xp 50xp;*/

}

.project-title{
    font-size: 45px;
    color: brown;
}

/* work styles */

.work{
    background-color: cadetblue;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 40px;

    padding: 100xp 40xp 50xp 20xp;
    padding: 50xp;
    padding: 50xp 100xp;
}
/* edukation style */
.education {
background-color: darkgreen;
}

/* sidebar style*/

.sidebar{
    background-color:#1E2939;
}