
body{
    font-family: 'Montserrat', sans-serif;
}

/* main styles*/
.main{
    display: flex;
    flex-direction: row-reverse;
    background-color: #f5f7fa;
width: 1200px;
margin: 0 auto;
}

.main-content {
background-color: #fff;
}

/* about styles*/
.about{
    
}
/* projects styles */
.projects{
 

/* margin: 100xp 90xp 300xp 60xp ;
margin: 50xp;
margin: 100xp 50xp;*/

}

.project-title{
    
}

/* work styles */

.work{
   

   /* padding: 100xp 40xp 50xp 20xp;
    padding: 50xp;
    padding: 50xp 100xp; */
}
/* edukation style */
.education {
background-color: darkgreen;
} 

/* sidebar style*/

.sidebar{
    background-color:#1E2939;
    padding-top: 40px;
    width: 370px;
}

.photo{
    width: 370px;
    margin-bottom: 50px;
}

.contacts,
.tech-scills{
    margin-left: 40px;
}
.contacts{
    margin-bottom: 50px;
}

.sidebar-title{
    color:#FFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-type{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color:#FFFF;
margin-right: 5px;
}

.contact-link{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #1E2939;
}

.tech-skills-list{
    color:#fff;
    padding: 0px;
    margin-left: 17px;
}

.tech-skills-item{
    color: #FB6D3A;
}

.tech-skills-text{
    color: #fff;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}